.eachRowContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.mainGameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

@keyframes reveal-correct {
  0%,
  50% {
    background-color: transparent;
    border-color: #d3d6da;
  }
  51%,
  100% {
    background-color: #6aaa64;
    border-color: #6aaa64;
    color: white;
  }
}
@keyframes reveal-present {
  0%,
  50% {
    background-color: transparent;
    border-color: #d3d6da;
  }
  51%,
  100% {
    background-color: #c9b458;
    border-color: #c9b458;
    color: white;
  }
}
@keyframes reveal-absent {
  0%,
  50% {
    background-color: transparent;
    border-color: #d3d6da;
  }
  51%,
  100% {
    background-color: #787c7e;
    border-color: #787c7e;
    color: white;
  }
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes bounce {
  0%,
  20%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.govnoed {
  border-color: transparent;
}
/* --- ПРИМЕНЕНИЕ --- */

.gameCell.filled:not(.flip) {
  /* animation: pop 0.1s ease-in-out; */
  border-color: #878a8c;
}

/* Запуск флипа */
.flip.correct {
  animation: flip-reveal 0.6s ease-in forwards, reveal-correct 0.6s ease-in forwards;
}
.flip.present {
  animation: flip-reveal 0.6s ease-in forwards, reveal-present 0.6s ease-in forwards;
}
.flip.absent {
  animation: flip-reveal 0.6s ease-in forwards, reveal-absent 0.6s ease-in forwards;
}

.winner {
  animation: bounce 0.6s ease forwards;
}

/* --- СТРОГИЕ ЗАДЕРЖКИ (Очередность) --- */
/* Используем универсальные классы cell-X, которые есть в твоем TSX */

.gameCell.cell-0 {
  animation-delay: 0s;
}
.gameCell.cell-1 {
  animation-delay: 0.2s;
}
.gameCell.cell-2 {
  animation-delay: 0.4s;
}
.gameCell.cell-3 {
  animation-delay: 0.6s;
}
.gameCell.cell-4 {
  animation-delay: 0.8s;
}
