.gameCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* или твой размер */
  height: 50px;
  border: 2px solid;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none; /* чтобы буквы нельзя было выделить мышкой */
}

.eachRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
